@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
*{
  margin:0px;
  padding: 0px;
}

body{
  background-color: #B8A7CF;
}
.App {
  display: flex;
  background-color: #B8A7CF;
  flex-direction: column
}
.header{
  display: flex;
  background-color:#AA7CE9; 
  padding: 20px;
  margin-right: -230px;
  align-items: center;
  justify-content: space-between;
}

.CatandLetters{
  display: flex;
  align-items: flex-end
}
.hiNoteTittle{
  font-family: 'Sarina', cursive;
  font-size: 50px;
  color: #0E1E4D;
}
.buttonNote{

position: absolute;
width: 340px;
height: 83px;
left: 886px;
top: 200px;
border-color: #F5DC87;
background: #F5DC87;
border-radius: 20px;
font-size: 30px;
color: #0E1E4D;
}

.exitImg{
  width: 100px;
  height: 100px;
}

.catLogo{
  width: 130px;
  height: 130px;
}

.sectionNotes{
  width: 1230px;
  padding-top: 5%;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* login-section */

.hiNote{
position: absolute;
font-family: 'Sarina', cursive;
font-size: 500%;
color: #0E1E4D; 
top:50px;
left:30%;
}

.blueContainer{
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
padding: 5px;
width: 630px;
height: 450px;
left: 280px;
top: 160px;

background: #A9EEE6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px; ;
}

.loginform{
margin-top:25px

}
.loginInput{
  width: 550px;
  height: 55px;
  margin: 30px 50px 0px 50px;
  border-radius: 10px;
  border: 1px solid #7A7676;
  font-size: 35px;
}

.send{
  position: relative;
  width: 10ex;
  height: 50px;
margin: 40px 35px 20px 240px;
background-color: #F5DC87;
border:none;
border-radius: 10px;
font-size: 35px;
}

.google{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30ex;
  height: 60px;
margin: 35px;
background-color: #F5DC87;
border:none;
border-radius: 15px;
font-size: 30px;
}
.googleLogo{
  height: 70%;
  padding-right:3%;
}

.lineaDeSeccion { 
  position: relative;
  height: 2px; 
  width: 400px; 
  background:rgb(107, 105, 105);
  }
  .frontCatImg{
    position: absolute;
    padding-top:290px;
    width: 400px;
  }

  .registro{
    position:relative;
    top:640px;
    padding-left:400px;
    color: #625772;
    font-size: 26px;
  }

  .register{
    color:#F73859;
  }

  input::placeholder {  
    padding-left: 20px; 
} 