.App {
  display: flex;
  background-color: #AA7CE9;
  flex-direction: column
} 
.header{
  display: flex;
  background-color: #AA7CE9;
  padding: 20px;
  margin-right: -230px;
}

.buttonNote{
position: absolute;
width: 364.37px;
height: 83px;
left: 886px;
top: 150px;
background: #F5DC87;
border-radius: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
