

.formNote{
    display: flex;
    flex-direction: column;
    z-index: 999;
    top: 19%;
    /* left: 25%; */
    width: 50%;
    height: 65%;
   background-color: #B8A7CF;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.titleNote{
    background-color: #A9EEE6;
    width: 400px;
    top:0px;
    font-size: 30px;
}

.bodyNote{
    font-size: 30px;
    width: 400px ;
    top:0px;
    height: 400px;
    background-color: #A9EEE6;
    border-radius: 10px;
}

.addNote{
    font-size: 25px; 
    border-color: #6abaf0;
background: #6abaf0;
border-radius: 20px;
font-size: 30px;
color: #0E1E4D;
}

.postNote{
    border-radius: 10px; 
    background-color:#f37e76;
    width: 400px ;
    height: 400px;
}

.titleNotes{
    font-weight: 700;
    background-color:#f7695f;
}
p{
    font-size: 30px;
}